$a9s-accent: (
    50 : #fcf0e8,
    100 : #f7dac5,
    200 : #f2c19f,
    300 : #eca878,
    400 : #e8965b,
    500 : #e4833e,
    600 : #e17b38,
    700 : #dd7030,
    800 : #d96628,
    900 : #d1531b,
    A100 : #ffffff,
    A200 : #ffdfd3,
    A400 : #ffbaa0,
    A700 : #ffa886,
    contrast: (
        50 : #062035,
        100 : #062035,
        200 : #062035,
        300 : #062035,
        400 : #062035,
        500 : #062035,
        600 : #062035,
        700 : #062035,
        800 : #062035,
        900 : #ffffff,
        A100 : #062035,
        A200 : #062035,
        A400 : #062035,
        A700 : #062035,
    )
);

$a9s-primary: (
    50 : #eaecef,
    100 : #cbced7,
    200 : #a8aebc,
    300 : #858ea1,
    400 : #6a758c,
    500 : #505d78,
    600 : #495570,
    700 : #404b65,
    800 : #37415b,
    900 : #273048,
    A100 : #91aeff,
    A200 : #5e88ff,
    A400 : #2b62ff,
    A700 : #124fff,
    contrast: (
        50 :  #062035,
        100 : #062035,
        200 : #062035,
        300 : #062035,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #062035,
        A200 : #062035,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$a9s-error: (
    50 : #fce8e8,
    100 : #f8c6c6,
    200 : #f4a1a1,
    300 : #ef7b7b,
    400 : #eb5e5e,
    500 : #e84242,
    600 : #e53c3c,
    700 : #e23333,
    800 : #de2b2b,
    900 : #d81d1d,
    A100 : #ffffff,
    A200 : #ffdbdb,
    A400 : #ffa8a8,
    A700 : #ff8f8f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
