// Custom styling for Angular Material components

// Hack to show a9s logo cause custom images are not yet supported
// by Stratos
.mat-drawer {
  .side-nav {
    &__logo {
      display: block;
      width: 100%;
      height: 50px;
      text-indent: -999em;
      background: url('/assets/nav-logo.png') center center no-repeat;
      background-size: 80% auto;

      &-text {
        display: none;
      }
    }
  }
}